<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>iqiyi主页</title>
    <link rel="shortcut icon" href="images/site.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/fontawesome-stars-o.css">
    <link rel="stylesheet" href="stylesheet/index.css">
    <link rel="stylesheet" href="stylesheet/login.css" media="screen" />
</head>
<body>
<div id="app">
    <!-- 换肤 -->
    <div id="skinningdiv">
        <div id="skinning"></div>
        <span class="skinningText"><strong>换肤</strong></span>
        <div class="btn-group-vertical hide" id="skinningSelect" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="fresh"><i class="fa fa-snowflake-o" aria-hidden="true"></i>小清新</button>
            <button type="button" class="btn btn-default" id="sport"><i class="fa fa-snowflake-o" aria-hidden="true"></i>运动风</button>
            <button type="button" class="btn btn-default" id="cute"><i class="fa fa-snowflake-o" aria-hidden="true"></i>可爱风</button>
            <button type="button" class="btn btn-default" id="cool"><i class="fa fa-snowflake-o" aria-hidden="true"></i>炫酷风</button>
            <button type="button" class="btn btn-default" id="selfDefinition"><i class="fa fa-snowflake-o" aria-hidden="true"></i>自定义</button>
            <button type="button" class="btn btn-default" id="closeSkin"><i class="fa fa-snowflake-o" aria-hidden="true"></i>关闭皮肤</button>
            <input type="file" id="upLoadImg" accept="image/gif, image/jpeg" class="hide">
        </div>
    </div>
    <!-- 回到顶部与意见反馈 -->
    <div class="backTop">
        <a href="#theTop" target="_self" class="fa fa-arrow-circle-o-up" aria-hidden="true" id="backtop"></a>
        <p>顶部</p>
        <a href="opinionbox.html" target="_blank" class="fa fa-envelope-o" aria-hidden="true"></a>
        <p>反馈</p>
    </div>
    <div class="mainbody">
        <!-- 上半黑色背景部分-->
        <div id="tophalfdiv">
            <!-- 顶部栏-->
            <a name="theTop" id="theTop"></a>
            <div id="topnav" class="row">
                <div id="logo" class="col-md-3 col-xs-12 col-sm-2">
                    <a href="#">
                        <img src="images/log.png">
                    </a>
                </div>
                <div id="search" class="col-md-6 col-xs-12 col-sm-5">
                    <button type="button" class="btn btn-default btn-sm rank">
                        <a href="top.html" target="_blank" class="glyphicon glyphicon-stats" aria-hidden="true" id="rank-link">&thinsp;排行榜</a>
                    </button>
                    <form action="so.html" method="GET" target="_blank" class="searchinputdiv" id="topsearchinputdiv">

                        <input type="text" id="searchinput" placeholder="奔跑吧兄弟" name="key" autocomplete="off" v-model="topSearchMessage">
                        <span class="glyphicon glyphicon glyphicon-search" id="mainSearch" aria-hidden="true"></span>
                        <div class="searchRecommend hide">
                            <ul class="searchRecommendUl">
                                <!-- <p><strong>搜索匹配</strong></p> -->
                                <li class="searchRecommendli" v-for="x in titleDatabaseFiltered" v-on:click="setSearchWord(x);">
                                    {{x}}
                                </li>
                                <p v-if="(searchHistory.length > 0) && (topSearchMessage == '' || topSearchMessage == '奔跑吧兄弟')"><strong>搜索历史</strong></p>
                                <li class="searchRecommendli" v-for="x in searchHistory" v-on:click="setSearchWord(x);" v-if="(searchHistory.length > 0) && (topSearchMessage == '' || topSearchMessage == '奔跑吧兄弟')">
                                    {{x}}
                                </li>
                                <p v-if="topSearchMessage == '' || topSearchMessage == '奔跑吧兄弟'"><strong>热门搜索</strong></p>
                                <li class="searchRecommendli" v-for="x in recommend" v-on:click="setSearchWord(x.short_title);" v-if="topSearchMessage == '' || topSearchMessage == '奔跑吧兄弟'">
                                    {{x.short_title}}
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div id="topinfo" class="col-md-3 col-xs-12 col-sm-5">
                    <a id="signup" href="javascript:void(0)" class="toplink">注册</a>
                    <a id="login" href="javascript:void(0)" class="toplink">登录</a>
                    <a href="javascript:void(0)" class="toplink login-user" style="display: none"></a>
                    <a href="special.html" class="toplink" target="_blank">专题</a>
                    <a href="speechRecognition.html" class="toplink" target="_blank">语音识别</a>
                </div>
            </div>
            <!-- 轮播图-->
            <div class="swiper-container rotation">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1"><a href="http://www.iqiyi.com/"><img src="images/rotation1.jpg" id="slide1-img"></a></div>
                    <div class="swiper-slide slide2"><a href="http://www.iqiyi.com/"><img src="images/rotation2.jpg" id="slide2-img"></a></div>
                    <div class="swiper-slide slide3"><a href="http://www.iqiyi.com/"><img src="images/rotation3.jpg" id="slide3-img"></a></div>
                    <div class="swiper-slide slide4"><a href="http://www.iqiyi.com/"><img src="images/rotation4.jpg" id="slide4-img"></a></div>
                    <div class="swiper-slide slide5"><a href="http://www.iqiyi.com/"><img src="images/rotation5.jpg" id="slide5-img"></a></div>
                </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-scrollbar"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 主题内容淡灰色背景部分-->
        <div id="contentdiv">
            <!-- 导航栏-->
            <div id="navbar">
                <div class="navChannelDiv">
                    <ul class="nav nav-tabs">
                        <li role="presentation" v-bind:class="{active: channel[n-1].isShow}" v-on:click="setwhichTypeShow(n-1)" v-for="n in channelNum" class="realChannel">
                            <a>{{arr[n-1]}}</a>
                        </li>
                        <li id="checkoutRightChannel"><a class="fa fa-angle-double-right fg-lg" aria-hidden="true"></a></li>
                        <li id="checkoutLeftChannel" class="notvisible"><a class="fa fa-angle-double-left fg-lg" aria-hidden="true"></a></li>
                        <li role="presentation" v-for="n in channelNum" class="backupchannel notvisible">
                            <a>{{arrbackup[n-1]}}</a>
                        </li>
                    </ul>
                </div>
                <!-- 搜索栏-->
                <div id="searchbar">
                    <button type="button" class="btn btn-default btn-sm rank" v-on:click="setScoreOrder">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 评分排行显示
                    </button>
                    <button type="button" class="btn btn-default btn-sm rank" v-on:click="setPlayCountOrder">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 播放排行显示
                    </button>
                    <div class="searchinputdiv" id="currentsearchdiv">
                        <input type="text" placeholder="当前页面搜索" v-model="message">
                        <span class="glyphicon glyphicon glyphicon-search currentsearch" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <!-- 内容展示部分-->
            <div id="content">
                <div id="navLoad" class="hide">
                    <div id="spinNavDiv" class="spinContainer"></div>
                    <span id="spinNavText" class="spinContainer">视频正在加载中...</span>
                </div>
                <div class="container-fluid">
                    <div class="row" v-for="onerow in rowNum">
                        <div class="col-md-2 col-sm-4 col-xs-6 onefilm" v-for="onecol in 6" v-if="imgsrc(onerow,onecol)" v-on:mouseleave="addClassOnOneFilm($event);">
                            <a v-bind:href="getPlayLink(onerow,onecol)" class="imglinka">
                                <div class="imgdiv">
                                    <img v-bind:src="imgsrc(onerow,onecol)">
                                </div>
                                <div class="filminfo">
                                    <span class="filmplaycount" ><i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;{{getshowplaycount(onerow,onecol)}}</span>
                                    <span class="filmscore">评分:{{getshowscore(onerow,onecol)}}</span>
                                </div>
                            </a>
                            <p v-text="showtitle(onerow,onecol)" class="filmMainTitle"></p>
                            <!-- 评分部分 -->
                            <div class="setScorediv hide" v-on:mouseleave="addClassOnDiv($event);">
                               <p v-text="showtitle(onerow,onecol)">标题</p>
                               <p v-text="showReleaseDate(onerow,onecol)" style="font-size: 12px;">上映日期</p>
                                <select class="star">
                                  <option value=""></option>
                                  <option value="1" data-html="很不好">1</option>
                                  <option value="2" data-html="不好">2</option>
                                  <option value="3" data-html="一般">3</option>
                                  <option value="4" data-html="不错">4</option>
                                  <option value="5" data-html="非常好">5</option>
                                </select>
                               <div class="userlike">
                                   喜欢 <span v-on:click="userlike($event);" class="fa fa-thumbs-o-up fa-lg" aria-hidden="true">0</span>
                                   不喜欢 <span v-on:click="userDontlike($event);" class="fa fa-thumbs-o-down fa-lg" aria-hidden="true">0</span>
                               </div>
                               <div class="userplus">
                                    <span v-on:click="addCollect(onerow,onecol,$event)"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>收藏</span>
                                    <span v-on:click="showSheet($event)"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>添加到剧/影单</span>
                                    <span class="hasnoSheet">还没有剧/影单，请点击 <a class="addAsheet">新建</a></span>
                                    <div class="newSheetDiv">
                                        <input type="text" class="newSheetInputDiv" placeholder="请输入剧/影单名称">
                                        <button class="addsheet" v-on:click.self="addNewSheet($event);">确认添加</button><span class="addSheetSuccess">添加成功</span>
                                        <span class="close-addsheet"></span>
                                    </div>
                               </div>
                               <div class="addToSheet">
                                    <ul class="searchRecommendUl sheetUl">
                                        <li class="searchRecommendli sheetUlli" v-for="x in sheet" v-on:click="addMvSheet(onerow,onecol,$event)">
                                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>  {{x}}
                                        </li>
                                        <li class="searchRecommendli sheetUlli newSheetButton"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>  新建剧/影单</li>
                                    </ul>
                               </div>
                               <span class="triangle outer"></span>
                               <span class="triangle"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" v-bind:class="{hide:!ishasmorevedio()}">
                    <div id="moreLoad" class="hide">
                        <div id="spinDiv" class="spinContainer"></div>
                        <span id="spinText" class="spinContainer">视频正在加载中...</span>
                    </div>
                    <a id="loadMore" v-on:click="loadmore();">点击加载更多</a>
                </div>
                <p style="color:#77a610;text-align: center;" v-bind:class="{hide:ishasmorevedio()}">视频已经全部加载完毕</p>
            </div>
            <div class="error" v-show="isFail">
                <p>网络错误！请刷新或稍后访问。</p>
                <button class="reloadbutton">刷新一下</button>
            </div>
        </div>
        <!-- 频道提示部分 -->
        <div class="hide" id="prompt">
            <p>Woops!该频道没有数据~试试其他频道吧~</p>
        </div>
        <!-- footer部分 -->
        <footer class="footer">
                <div class="footmenu">
                    <a class="footmenu-item" href="http://www.iqiyi.com/common/aboutus.html" title="公司介绍" rseat="公司介绍" target="_blank">公司介绍</a>
                    <a href="http://www.iqiyi.com/common/news.html" title="新闻动态" rseat="新闻动态" target="_blank">新闻动态</a>
                    <a href="http://www.iqiyi.com/common/contactus.html" title="联系方式" rseat="联系方式" target="_blank">联系方式</a>
                    <a href="http://zhaopin.iqiyi.com"  title="招聘英才" rseat="招聘英才" target="_blank">招聘英才</a>
                    <a href="http://labs.iqiyi.com"  title="爱奇艺实验室" rseat="爱奇艺实验室" target="_blank">爱奇艺实验室</a>
                    <a href="http://open.iqiyi.com/"  title="开放平台" rseat="开放平台" target="_blank">开放平台</a>
                    <a href="http://www.iqiyi.com/common/rz.html"  title="爱奇艺号认证" rseat="爱奇艺号认证" target="_blank">爱奇艺号认证</a>
                    <a href="http://www.iqiyi.com/zuozhe.html"  title="爱奇艺作者中心" rseat="爱奇艺作者中心" target="_blank">爱奇艺作者中心</a>
                    <a href="http://help.iqiyi.com/"  title="帮助中心" rseat="帮助中心" target="_blank">帮助中心</a>
                    <a href="http://www.iqiyi.com/common/copyright.html?entry=iqiyi"  rseat="侵权投诉" title="侵权投诉" target="_blank">侵权投诉</a>
                    <a href="http://www.iqiyi.com/common/20100420/n4813.html" title="AboutUs" rseat="About Us" target="_blank">About Us</a>
                </div>
                <p class="fEn">Copyright © 2017 <a href="http://www.iqiyi.com" title="爱奇艺" rseat="爱奇艺" target="_blank">爱奇艺</a> All Rights Reserved</p>
        </footer>
    </div>
    <div id="login">
        <login></login>
    </div>
    <!-- 收藏成功信息 -->
    <span id="collectSuccess">收藏成功 <i class="fa fa-check" aria-hidden="true"></i></span>
    <span id="addSuccess">添加成功 <i class="fa fa-check" aria-hidden="true"></i></span>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/vue.js"></script>
<script src="static/js/jquery.barrating.min.js"></script>
<script src="static/js/swiper.min.js"></script>
<script src="static/js/spin.min.js"></script>
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>
<script src="component/loginComponent.js"></script>
<script src="javascript/login.js"></script>
<script src="javascript/index.js"></script>
<script src="javascript/app.js"></script>
<script src="javascript/rotation.js"></script>
</body>
</html>
