<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>iqiyi个人中心</title>
    <link rel="shortcut icon" href="images/site.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="stylesheet/personalCenter.css">
    <link rel="stylesheet" href="stylesheet/login.css" media="screen" />
</head>
<body>
<div id="app">
    <!-- 主体部分 -->
    <div class="mainbody">
        <!-- 顶部栏-->
        <div id="topnav" class="row">
            <div id="logo" class="col-md-3 col-xs-12 col-sm-2">
                <a href="index.html">
                    <img src="images/log.png">
                </a>
            </div>
            <div id="search" class="col-md-6 col-xs-12 col-sm-5">
                <button type="button" class="btn btn-default btn-sm rank">
                    <a href="top.html" target="_blank" class="glyphicon glyphicon-stats" aria-hidden="true" id="rank-link">&thinsp;排行榜</a>
                </button>
                <form action="so.html" method="GET" target="_blank" class="searchinputdiv" id="topsearchinputdiv">
                    <input type="text" id="searchinput" placeholder="奔跑吧兄弟" name="key" autocomplete="off">
                    <span class="glyphicon glyphicon glyphicon-search" id="mainSearch" aria-hidden="true"></span>
                </form>
            </div>
            <div id="topinfo" class="col-md-3 col-xs-12 col-sm-5">
                <a id="signup" href="javascript:void(0)" class="toplink">注册</a>
                <a id="login" href="javascript:void(0)" class="toplink">登录</a>
                <a href="javascript:void(0)" class="toplink login-user" style="display: none"></a>
                <a href="special.html" class="toplink" target="_blank">专题</a>
                <a href="speechRecognition.html" class="toplink" target="_blank">语音识别</a>
            </div>
        </div>
        <!-- 内容部分 -->
        <div id="content">
            <div id="content-nav">
                <div class="navContainer" id="nav-left">
                    <a id="avatar" title="点击更换头像">
                        <img v-bind:src="logoimg" id="headImg">
                    </a>
                    <input type="file" id="upLoadHeadImg" accept="image/gif, image/jpeg" class="hide">
                    <p id="nav-username"><strong><i>用户名</i></strong></p>
                </div>
                <div class="navContainer" id="nav-center" role="navigation">
                    <ul class="nav nav-tabs" id="content-nav-ul">
                        <li role="presentation"><a href="#content-collect">我的收藏</a></li>
                        <li role="presentation"><a href="#content-creat-sheet">我创建的剧/影单</a></li>
                        <li role="presentation"><a href="#content-friend">我的关注</a></li>
                        <li role="presentation"><a href="#content-sheet">我收藏的剧/影单</a></li>
                    </ul>
                </div>
            </div>
            <div id="content-collect" class="content-session">
                <a name="content-collect"></a>
                <h3>我的收藏 (<span v-text="collectNum"></span>)</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6" v-for="x in collect" >
                            <div class="oneCollect" v-on:mouseenter="animateIcon($event);" v-on:mouseleave="stopAnimateIcon($event);">
                                <a v-bind:href="getLink(x)" class="collectA">
                                    <img v-bind:src="x.img" alt="最好的我们">
                                    <div class="icondiv">
                                        <span class="fa fa-film " aria-hidden="true"></span>
                                    </div>
                                </a>
                                <p class="collectTitle">{{x.title}}</p>
                                <span class="fa fa-trash" aria-hidden="true" v-on:click="removeCollect(x);"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-creat-sheet" class="content-session">
                <a name="content-creat-sheet"></a>
                <h3>
                    <span>我创建的剧/影单</span> (<span v-text="sheetNum"></span>)
                    <span id="newSheet">
                        <i class="fa fa-plus" aria-hidden="true"></i> 新建剧/影单
                        <div id="newSheetDiv">
                            <input type="text" id="newSheetInputDiv" placeholder="请输入剧/影单名称">
                            <button id="addsheet">确认添加</button>
                            <span class="close-addsheet"></span>
                        </div>
                    </span>
                </h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6" v-for="x in sheet">
                            <div class="oneCollect" v-on:mouseenter="animateIcon($event);" v-on:mouseleave="stopAnimateIcon($event);">
                                <a href="mvSheet.html" class="collectA" target="_blank"v-on:click="storageSheetName(x,$event)">
                                    <img src="images/center2.jpg" alt="最好的我们">
                                    <div class="icondiv">
                                        <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                                    </div>
                                </a>
                                <p class="collectTitle">{{x}}</p>
                                <span class="fa fa-trash" aria-hidden="true" v-on:click="removeSheet(x);"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-sheet" class="content-session">
                <a name="content-friend"></a>
                <h3>
                    <span>我的关注</span> (<span v-text="friendNum"></span>)
                    <span id="newfriend">
                        <i class="fa fa-plus" aria-hidden="true"></i> 添加关注
                        <div id="newfriendDiv">
                            <input type="text" id="newfriendInputDiv" placeholder="请输入关注好友的用户名">
                            <button id="addfriend">确认添加</button>
                            <span id="nopersoninfo">您输入的关注好友不存在~</span>
                            <span class="close-addsheet"></span>
                        </div>
                    </span>
                </h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-6" v-for="x in friend">
                            <div class="onefriend">
                                <div class="friendDiv">
                                    <img v-bind:src="x.url" alt="头像">
                                </div>
                                <p class="firendTitle">{{x.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-sheet" class="content-session">
                <a name="content-sheet"></a>
                <h3>我收藏的剧/影单</h3>
            </div>
        </div>
        <div id="not-login">
            <h2>您还没有登录，请先登录哦~</h2>
        </div>
        <!-- footer部分 -->
        <div class="footer">
            <div class="footmenu">
                <a class="footmenu-item" href="http://www.iqiyi.com/common/aboutus.html" title="公司介绍" rseat="公司介绍" target="_blank">公司介绍</a>
                <a href="http://www.iqiyi.com/common/news.html" title="新闻动态" rseat="新闻动态" target="_blank">新闻动态</a>
                <a href="http://www.iqiyi.com/common/contactus.html" title="联系方式" rseat="联系方式" target="_blank">联系方式</a>
                <a href="http://zhaopin.iqiyi.com"  title="招聘英才" rseat="招聘英才" target="_blank">招聘英才</a>
                <a href="http://labs.iqiyi.com"  title="爱奇艺实验室" rseat="爱奇艺实验室" target="_blank">爱奇艺实验室</a>
                <a href="http://open.iqiyi.com/"  title="开放平台" rseat="开放平台" target="_blank">开放平台</a>
                <a href="http://www.iqiyi.com/common/rz.html"  title="爱奇艺号认证" rseat="爱奇艺号认证" target="_blank">爱奇艺号认证</a>
                <a href="http://www.iqiyi.com/zuozhe.html"  title="爱奇艺作者中心" rseat="爱奇艺作者中心" target="_blank">爱奇艺作者中心</a>
                <a href="http://help.iqiyi.com/"  title="帮助中心" rseat="帮助中心" target="_blank">帮助中心</a>
                <a href="http://www.iqiyi.com/common/copyright.html?entry=iqiyi"  rseat="侵权投诉" title="侵权投诉" target="_blank">侵权投诉</a>
                <a href="http://www.iqiyi.com/common/20100420/n4813.html" title="AboutUs" rseat="About Us" target="_blank">About Us</a>
            </div>
            <p class="fEn">Copyright © 2017 <a href="http://www.iqiyi.com" title="爱奇艺" rseat="爱奇艺" target="_blank">爱奇艺</a> All Rights Reserved</p>
        </div>
    </div>
    <div id="login">
        <login></login>
    </div>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/vue.js"></script>
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>
<script src="component/loginComponent.js"></script>
<script src="javascript/login.js"></script>
<script src="javascript/personalCenter.js"></script>
<script src="javascript/personalCenterApp.js"></script>
</body>
</html>

