body {
    font-family: "Microsoft Yahei",Helvetica,"Lucida Grande",Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    background-color: #f5f5f5;
    color: #000;
    margin-top: 0px;
    background-attachment:fixed;
    background-size:100% 100%;
}
a,#mainSearch{
    cursor: pointer;
}
.row {
    margin: 0px;
}
#app .mainbody a:link,#app .mainbody a:visited,#app .mainbody a:hover,#app .mainbody a:active{
     text-decoration: none;
}
#topinfo a:link{
    color: #fff;
}  
#topinfo a:visited{
    color: #fff;
}                        
#topinfo a:hover {
    color: #77a610;
}           
#topinfo a:active {
    color: #fff;
}   
#app{
    position: relative;
}
.mainbody {
    width: 1500px;
    margin: 0 auto;
    background-color: #f5f5f5;
}
/*换肤区域*/
#skinning{
    position: absolute;
    cursor: pointer;
    top:0px;
    right: 0px;
    border-top: 60px solid  #77a610;
    border-left: 60px solid  transparent;
}
.skinningText{
    position: absolute;
    top: 0px;
    right: 5px;
    color: #fff;
}
#skinningSelect{
    position: absolute;
    top: 0px;
    right: 60px;
    z-index: 999;
}
#skinningSelect button{
    font-size: 15px;
}
#skinningSelect .iconimg{
    width: 15px;
    height: 15px;
}
.fa-snowflake-o{
    color: #77a610;
}
.hide{
    display: none;
}
#skinningSelect button{
    outline: none;
}
/* 回到顶部与意见反馈 */
.backTop{
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 999;
    text-align: center;
}
.backTop a{
    display: block;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #000;
}
.backTop a.fa-envelope-o{
    font-size: 30px;
}
.backTop a:hover{
    color: #77a610;
}

/*导航栏*/
#tophalfdiv {
    background-color: #181818;
    color: #fff;
}
#topnav {
    height: 50px;
    padding: 5px 0px;
}
#logo{
    padding-left: 20px;
}
/*修改button默认蓝框*/
#search button, #searchbar button{
    outline: none;
}
.glyphicon {
    color: #77a610;
    font-size: 15px;
}
.glyphicon-search{
    position: absolute;
    right: 5px;
    top:8px;
    font-size: 20px;
}
/*排行和搜索框*/
#rank-link{
    text-decoration: none;
}
#rank-link:hover{
    color: #77a610;
}
#search {
    text-align: center;
    margin-top: 5px;
}
#search .rank{
   margin-bottom: 2px;
}
.searchinputdiv{
    display: inline-block;
    position: relative;
}
#topsearchinputdiv{
    width: 60%;
}
#searchinput {
    display: inline-block;
    border:1px solid #77a610;
    height: 32px;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    color: #000;
    outline: none;
    font-size: 15px;
}
.toplink {
    float: right;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0px 10px;
    text-decoration: none;
    color: #fff;
}
#topinfo,#search{
    padding: 0px;
}
#topinfo{
    padding-right: 8px;
}
/*搜索推荐*/
.searchRecommend{
    position: absolute;
    background-color: #f5f5f5;
    width: 100%;
    top: 31px;
    z-index: 999;
    border: 1px solid #77a610;
    border-radius: 5px;
    color: #000;
    text-align: left;
}
.searchRecommendUl{
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
}
.searchRecommendli{
    cursor: pointer;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.searchRecommendUl p{
    border-top: 1px solid #888;
}
.searchRecommendli:hover{
   background-color: #77a610;
   color: #fff;
}
a.toplink:hover {
    color: #77a610;
}

/*轮播图*/
.rotation,.swiper-slide{
    height: 410px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
#navbar {
    position: relative;
}
/*轮播按钮效果*/
.swiper-button-white{
    opacity: 0.3;
}
.swiper-button-white:hover{
    opacity: 1.0;
}
.nav-tabs>li>a{
    color: #000;
}
.nav-tabs>li>a:hover,.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover{
    background-color: #77a610;
    color: #fff;
}
/*当前页面的搜索栏*/
.navChannelDiv{
    overflow: hidden;
}
.notvisible{
    visibility: hidden;
}
#searchbar {
    position: absolute;
    top: 10px;
    right: 0px;
}
#searchbar input {
    outline: none;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #888;
    border-radius: 5px;
}
.currentsearch{
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 20px;
}
#searchbar .fa-search {
    color: #77a610;
}
/*主题展示页面*/
#content {
    padding-top: 20px;
}
#content div.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
#content .row{
    height: 200px;
}
#content .onefilm p.filmMainTitle{
    background-color: #E8E8E8;
    padding:10px 5px;
    width: 100%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#content .onefilm a.imglinka{
    display: inline-block;
    width: 100%;
    opacity: 0.9;
    position: relative;
    border: 2px solid #fff;
}
.imgdiv{
    width: 100%;
    height: 125px;
}
.imgdiv img{
    width: 100%;
    height: 100%;
    background: #f2f2f2 url(../images/site-nopic.png) no-repeat center center;
}
#content .onefilm a .filminfo {
    position: absolute;
    width: 100%;
    bottom: 3px;
}
#content .onefilm a .filminfo span{
    display: inline-block;
    padding: 0px 3px;
    border-radius: 3px;
    color: #E8E8E8;
    font-size: 12px;
    background-color: rgba(0,0,0,0.7);
}
#content .onefilm a .filminfo span.filmscore{
    float: right;
}
#content .onefilm a .filminfo span.filmplaycount{
    float: left;
}
#content .onefilm a:hover{
    opacity: 1.0;
}
/*评分部分*/
#content .onefilm{
    position: relative;
}
.setScorediv{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 220px;
    padding: 10px;
    margin: 12px;
    background-color: #f5f5f5;
    color: #000;
    box-shadow: 1px 1px 5px #888;
    border-radius: 5px;
    z-index: 1000;
}
.star{
    display: inline-block;
}
.userlike,.userplus{
    cursor: pointer;
}
.userlike{
    padding-bottom: 10px;
}
.userlike span{
    width: 50px;
    user-select:none;
}
.userplus span{
    display: inline-block;
    margin-right:20px;
}
.userlike span.fa-thumbs-o-down,.userlike span.fa-thumbs-o-up{
    color:  #FF6600;
}
.br-theme-fontawesome-stars-o .br-widget .br-current-rating{
    display: inline-block;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after,.br-theme-fontawesome-stars-o .br-widget a.br-selected:after,.userplus .fa-plus{
    color: #77a610;
}
.triangle{
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #f5f5f5;
    border-bottom: 10px solid transparent;
    top:40%;
    left:-10px;
}
.outer{
    border-right: 12px solid #A8A8A8;
    left: -12px;
}
.sheetUl{
    border:1px solid rgba(119,166,16,0.6);
    border-radius: 5px;
    margin-top: 10px;
}
.sheetUlli:hover{
   background-color: rgba(119,166,16,0.6);
   color: #000;
}
/* 新建影单 */
.userplus span.hasnoSheet{
    display: none;
    margin-top: 10px;
}
.userplus{
    position: relative;
}
.newSheetDiv{
    position: absolute;
    background-color: #fff;
    border:1px solid #888;
    border-radius: 5px;
    width: 350px;
    top: 30px;
    left: 0px;
    z-index:1800;
    display: none;
    text-align: center;
    box-shadow: 2px 2px 5px #888;
}
.newSheetInputDiv{
    outline: none;
    width: 280px;
    height: 30px;
    border:1px solid #888;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    margin-top: 30px;
}
.addsheetinfo,.userplus span.addSheetSuccess{
    color: green;
    display: none;
}
button.addsheet{
    margin: 10px;
}
/*footer*/
.footer{
    text-align:center;
    font-size:90%;
    bottom: 0;
    width: 100%;
    padding:15px;
    clear:right;
    margin-top:50px;
}
.fEn {
    margin-top:5px;
    color: #999;
    font-family: Arial;
}
.footmenu a {
    background: url(../images/footerline1214.png) no-repeat left 3px;
    padding: 0 8px 0 10px;
    color: #999;
}
.fEn a{
    color: #999;
    font-family: Arial;
}
.error{
    text-align: center;
}
.error p{
    color: red;
    font-size: 20px;
}
/* 加载动画 */
.spinContainer{
    display: inline-block;
    width: 48%;
    vertical-align: center;
}
#spinText{
    text-align: left;
}
#spinNavDiv,#spinDiv{
    position: relative;
}
a#loadMore{
    color: #585858;
    visibility: hidden;
}
a#loadMore:hover{
    color: #77a610;
}
/* 添加收藏与影单 */
#collectSuccess,#addSuccess{
    color: #77a610;
    display: none;
    position: absolute;
    font-size: 15px;
    z-index: 1500;
}
.addToSheet{
    background-color: #f5f5f5;
    color:#000;
    display: none;
}
/* 提示信息 */
#prompt{
    margin-top: 100px;
    margin-bottom: 300px;
}
#prompt p{
    color:red;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
/* 媒体查询 */
@media screen and (max-width: 1620px) {
    .mainbody {
        width: 1280px;
    }
    .nav>li>a {
        padding: 10px 12px;
    }
    .imgdiv{
        height: 115px;
    }
}
@media screen and (max-width: 1400px) {
    #skinningdiv{
        display: none;
    }
    li.backupchannel,#checkoutLeftChannel,#checkoutRightChannel{
        display:none;
    }
    .mainbody {
        width: 100%;
    }
    .row{
        margin: 0px;
    }
    #content .onefilm{
        padding: 5px;
    }
    .nav>li>a {
        padding: 10px 15px;
    }
}
@media screen and (max-width: 1024px) {
    #logo{
        padding-left: 5px;
    }
    #content .onefilm，#content .onefilm a{
        width:32%;
    }
    #topsearchinputdiv{
        width: 72%;
    }
    #searchbar {
        top: 42px;
        left: 0px;
    }
    #content {
        padding-top: 30px;
    }
    .swiper-button-white{
        height: 32px;
    }
}
@media screen and (max-width: 767px) {
    #topnav{
        position: relative;
    }
    #topinfo{
        position: absolute;
        top: 5px;
        left: 0px;
        padding: 0px;
    }
    .rotation {
        margin-top: 32px;
    }
    .setScorediv{
        display: none;
    }
}
@media screen and (max-width: 426px) {
    #searchbar {
        top: 85px;
        left: 0px;
    }
    .rotation,.swiper-slide{
        height: 150px;
    }
    #content {
        padding-top: 70px;
    }
    #currentsearchdiv,#searchbar input{
        width: 100%;
    }
    #content .onefilm{
        width: 49%;
    }
    #content .onefilm{
        padding: 2px;
    }
    .swiper-button-white{
        height: 22px;
    }
    #login-container,#signup-container{
        width: 300px;
        left: 5%;
        height: 300px;
    }
    .backTop{
        bottom: 5px;
    }
    .backTop a{
        color: rgba(0,0,0,0.5);
    }
}
