#app{
	background: url(../images/1.jpg);
	background-size:100% 100%;
    background-attachment:fixed;
}
.row{
	margin:0;
	padding:0;
}
#mainbody{
	margin:0 15%;
	background-color: #fefefe;
	background:url(../images/special.jpg);
	background-size: 100% 100%;
	background-attachment:fixed;
	height:100%;
}
@media screen and (max-width: 1024px) {
    #mainbody{
		margin:0;
	}
}

/*顶部页眉*/
a{
	color:#000;
}
a:link{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:#77a610;
}
.topbar{
    padding-top: 5px;
}
#navbar .breadcrumb>.active {
    color: #77a610;
}
/*内容区域*/
.content-container{
	margin-top:20px;
	border-top:1px dashed #666;
	padding-top:20px;
}
.video-img{
	display: inline-block;
	width:230px;
	height:230px;
	border:1px solid #888;
	border-radius: 50%;
	text-align: center;
	padding-top:18px;
    background-size: 100% 100%;
    background-color: #F5F5F5;
    opacity: 0.8;
}
a.video-img:hover{
	opacity: 1;
}
.item{
	margin-bottom: 5%;
	text-align:center;
}
.fa{
	display: none;
	position:absolute;
	top:32%;
	left:48%;
	font-size: 3em;
}
.title{
    position: relative;
    margin: 0;
    padding: 0;
    font-size:1.5em;
    height: 2.5em;
    overflow: hidden;
    text-align: center;
    color: #333;
}
@media screen and (max-width: 767px) {
    .item a{
		background-size: 100% 100%;
	}
	.item .video-img{
        width: 145px;
        height:145px;
        opacity: 1;
    }
    iframe{
    	width: 100%;
    }
    .title{
    	font-size:1.2em;
	}
}
.play-logo{
	display: inline-block;
	width:50px;
	height:50px;
	vertical-align: center;
}

/*页脚*/
.footer{
	text-align:center;
	font-size:90%;
	bottom: 0;
	width: 100%;
	padding:15px;
	clear:right;
    margin-top:40px;
}
.fEn {
    margin-top:5px;
    color: #999;
    font-family: Arial;
}
.footmenu a {
    background: url(../images/footerline1214.png) no-repeat left 3px;
    padding: 0 8px 0 10px;
    color: #999;
}
.fEn a{
    color: #999;
    font-family: Arial;
}
@media screen and (max-width: 425px) {
    .title{
    	font-size:1.2em;
    	width: 130px;
    	display:block;
    	word-break: break-all;
    	word-wrap: break-word;
	}
}

#app{
	background: url(../images/1.jpg);
	background-size:100% 100%;
    background-attachment:fixed;
}
@media screen and (max-width: 768px) {
    #mainbody{
		background: url(../images/special.jpg) repeat-y;
		background-size:100%;
    	background-attachment:fixed;
	}
}
